

<%= render :partial=> 'post2', :object=>@post %>

<div class="comments">
  <h2>Comments</h2>
  
  <%= render @post.comments %>

  <% if can? :create, Comment %>
  <div class="add">
    <h2>Add a comment:</h2>
    <%= render "comments/form" %>
  </div>
  <% else %>
  <h2 class="center">
  <%= link_to 'Login to comment', new_user_session_path %>
  </h2>
  <% end %>
</div>

<br />

<% links = []
links << link_to('Back', posts_path)
links << link_to('Edit', edit_post_path(@post)) if can?(:edit, @post)
links << link_to('Delete', post_path(@post), :method=>:delete, data: { confirm: "sure?"}) if can?(:edit, @post)
%>
<%= raw links.join(' | ') %>

