<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= find_and_include_asset "application" %>
    <%= find_and_include_asset(params[:controller]) if params[:controller] %>
    <%= csrf_meta_tags %>
    <%= yield (:head) %>
  </head>
  <body>
    <div id="header" class="header inner">
      <span class="loginbox">
        <% if user_signed_in? %>
        (<%= current_user.email%>) <%= link_to 'Logout', destroy_user_session_path, :method=>:delete %>
        <% else %>
        <%= link_to 'Login', new_user_session_path %>(<%= link_to 'Github', '/auth/github' %>|
        <%= link_to 'Google', '/auth/google_oauth2' %>)
        <% end %>
      </span>

      <a href="/"><h1>Road Tang's Site</h1></a>
      <%= render_navigation :renderer=>:links %>
    </div>


    <div id="content" class="inner">
      <%= yield (:sidebar) %>
      <%= yield (:main) %>
    </div>

    <div class="footer">
    </div>
  </body>
</html>
