<% content_for :sidebar do%>
      <div class="sidebar">
        <%= render 'posts/tags' %>
        <%= render 'posts/popular' %>
        <%= render 'posts/recent_comments' %>
      </div>
<% end %>

<% content_for :main do %>
      <div  class="main-col pull-left">
        <div class="wrapper">
          <%=render :template=>'layouts/flash' %>
          <%= yield %>
        </div>
      </div>
      <div class="clearfix"></div>
<% end %>

<%= render :template=>"layouts/application" %>
